{% extends 'service/home_page.html' %}
{% load static %}

{% block title %}
    Страница пользователя
{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/account/clients.css' %}">
    <link rel="stylesheet" href="{% static 'css/home-page.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock style %}



{% block account-login %}
    <a href="{% url 'account:logout' %}">
        <div class="header__auth">
            <span>Выйти</span> <img src="{% static 'img/header/login.svg' %}" alt="->">
        </div>
    </a>
    <div class="header__media">
        <span></span>
        <span></span>
        <span></span>
    </div>
{% endblock account-login %}


{% block content %}
    <div class="modal modal__change-personal-data">
        <div class="modal__dialog"><button class="modal__close"></button>
            <h3 class="modal__title">Личные данные</h3>
            <form action="{% url 'api:change-personal-data' %}" method="POST" class="form modal__form" novalidate="novalidate">{% csrf_token %}
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" value="{{ client.email }}" name="email" >
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" value="{{ client.full_name }}" name="full_name">
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" value="{{ client.phone }}" name="phone" id="register-phone">
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="password" class="input form__input modal__input input--light" placeholder="Введите новый пароль" name="password">
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="password" class="input form__input modal__input input--light" placeholder="Повторите новый пароль" name="password2">
                    <span class="error-message"></span>
                </div>
                <button class="button btn--dark btn button--primary modal__button">Изменить данные</button></form>
        </div>
    </div>
    <div class="modal modal__add-car">
        <div class="modal__dialog"><button class="modal__close"></button>
            <h3 class="modal__title">Данные машины</h3>
            <form action="{% url 'api:add_car' %}" method="POST" class="form modal__form" novalidate="novalidate">{% csrf_token %}
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" placeholder="Модель машины" name="model" >
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" placeholder="Номер машины" name="registration_number" id="add-number-car">
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="checkbox" class="input form__input modal__input input--light" style="display: flex" id="is_minibus"  name="is_minibus">
                    <span class="error-message"></span>
                </div>
                <button class="button btn--dark btn button--primary modal__button">Добавить машину</button></form>
        </div>
    </div>
    <div class="modal modal__change-car-info">
        <div class="modal__dialog"><button class="modal__close"></button>
            <h3 class="modal__title">Данные машины</h3>
            <form action="{% url 'api:change_car_info' %}" method="POST" class="form modal__form" novalidate="novalidate">{% csrf_token %}
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" placeholder="Модель машины" name="model" >
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" placeholder="Номер машины" name="registration_number" id="add-number-car">
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="text" class="input form__input modal__input input--light" placeholder="VIN-номер машины" name="vin_number">
                    <span class="error-message"></span>
                </div>
                <div class="input-group modal__input-group">
                    <input type="checkbox" class="input form__input modal__input input--light" style="display: flex" id="is_minibus"  name="is_minibus">
                    <span class="error-message"></span>
                </div>
                <input type="hidden" value="" class="get-car-id" name="car_id">
                <button class="button btn--dark btn button--primary modal__button">Изменить данные</button></form>
        </div>
    </div>


    <main>
        <section class="personal">
            <div class="container">
                <div class="name personal__name">
                    <h2>{{ client.full_name }}</h2>
                    <img class="change-personal-data" src="{% static 'img/user/pencil.svg' %}" alt="Редактировать">
                </div>
                <div class="personal__info info">
                    <div class="info__item">
                        <span class="info__title">Телефон</span>
                        <span class="info__text">{{ client.phone }}</span>
                    </div>
                    <div class="info__item">
                        <span class="info__title">Почта</span>
                        <span class="info__text">{{ client.email }}</span>
                    </div>
                </div>
                <div class="user-cars">
                    <h3 class="subtitle">Мои машины</h3>
                    <h2 class="title">Тут какая-то крутая фраза</h2>
                    <div class="info-cars">
                        <div class="info-cars__add">
                            <img src="{% static 'img/user/plus.svg' %}" alt="+">
                            <span>Добавить машину</span>
                        </div>
                        {% for car in cars %}
                            <div class="car">
                                <div class="car__info">
                                    <p class="car__title">{{ car.model }} ({{ car.registration_number }})</p>
                                    <div class="car__btns">
                                        <img src="{% static 'img/user/pencil.svg' %}" alt="Редактировать" class="change-car-info" data-car-id="{{ car.id }}">
                                        <img src="{% static 'img/user/basket.svg' %}" alt="Удалить">
                                    </div>
                                    <div class="car__status orange"></div>
                                </div>
                                <div class="car__vin">VIN: {{ car.vin_number|default:"Не указан" }}</div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        {% if events %}
        <section class="works">
            <div class="container">

                <h3 class="subtitle">Предоставленные услуги</h3>
                <h2 class="title">Мы с вами уже виделись!</h2>
                <table class="works__table table" border="1">
                    <tr>
                        <th>Дата начала работ</th>
                        <th>Дата окончания</th>
                        <th>Фронт работ</th>
                        <th>Стоимость</th>
                    </tr>

            {% for event in events %}
                    <tr>
                        <td>{{ event.date_begin }}</td>
                        <td>{{ event.date_finish_fact|default_if_none:'Еще на ремонте' }}</td>
                        <td>{{ event.type_of_service_id }}</td>
                        <td>{{ event.type_of_service_id.price }}р</td>
                    </tr>
            {% endfor %}
                </table>
            </div>
        </section>
        {% endif %}
        <section class="entry" id="entry-scroll">
            <div class="container">
                <h3 class="subtitle">Запись в автосервис</h3>
                <h2 class="title">Сломалась машина? Приходите к нам!</h2>
                <div class="entry__content">
                    <div class="entry__calendar calendar">
                        <div class="calendar__select">

                            <div style="display: flex; flex-direction: column; justify-content: center; align-items: flex-start">
                                <div style="margin-right: 40px">
                                    <h2 style="margin-bottom: 15px; text-align: center; font-size: 18px">Тип
                                        автомобиля</h2>
                                    <label class="form-switch">
                                        <input id="checked-type-car" type="checkbox">
                                        <i></i> <span id="select-type-car">Легковой</span></label>
                                </div>
                                <div>
                                    <input id="select-service" list="service-car" placeholder="Выберите услугу"
                                           style="margin-top: 12px">
                                    <datalist id="service-car">
                                        {% for type in type_service_car %}
                                            <option value="{{ type.name }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </datalist>
                                    <datalist id="service-minibus">
                                        {% for type in type_service_minibus %}
                                            <option value="{{ type.name }}">{{ type.name }}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                            </div>
                            <div id="calendar" style="width: 500px; margin-top: 15px"></div>
                        </div>
                        <div class="calendar__form">
                            <p class="block-title">Onko autosi sairas? Ryhdytään hommiin</p>
                            <form action="#">
                                <input id="name" type="text" placeholder="Введите ФИО">
                                <input id="phone" type="text" placeholder="Введите номер телефона">
                                <input id="email" type="text" placeholder="Введите Email">
                                <input id="model" type="text" placeholder="Введите модель машины">
                                <input id="number" type="text" placeholder="Введите номер машины">
                                <textarea id="comment" cols="40" rows="10"
                                          placeholder="Оставьте комментарий"></textarea>
                                <input id="start-time" type="hidden">
                                <input id="end-time" type="hidden">
                                {% csrf_token %}
                                <input id="make-record" type="submit" class="btn btn--dark" value="Записаться">

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__info">
                <div class="footer__phone">
                    <a href="tel:89999999999" class="footer__number">8 (999) 999 99 99</a>
                    <img src="{% static 'img/footer/phone.svg' %}" alt="phone">
                </div>
                <div class="footer__social">
                    <a href="#"><img src="{% static 'img/footer/vk.svg' %}" alt="vk"></a>
                    <a href="#"><img src="{% static 'img/footer/insta.svg' %}" alt="insta"></a>
                    <a href="#"><img src="{% static 'img/footer/facebook.svg' %}" alt="facebook"></a>
                </div>
                <div class="footer__mail">
                    <img src="{% static 'img/footer/mail.svg' %}" alt="mail">
                    <a href="mailto:example@example.com" class="footer__mail">example@example.com</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock content %}

