{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title> {% block title %}Автосервис{% endblock title %}</title>
    {% block style %}{% endblock style %}
</head>
<body>
    {% block content %}{% endblock content %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    {% block script %}{% endblock script %}

</body>
</html>